<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
  <strong>Content:</strong>
  <%= @post.content %>
  <strong>Tags:</strong>
  <ul>
    <% @post.tags.each do |tag| %>
    <li><%= tag %></li>
    <% end %>
  </ul>
</p>

<%= form_for(@post) do |f| %>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  <%= f.submit %>
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
